html {
  background-color:black;
  /* background-color: white; */
}
body,h1,h2,h3,h4,h5 {
  font-family: "Staatliches", cursive;
}
.w3-quarter img {
  /* margin-bottom: -6px; */
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.5s;
}
.w3-quarter img:hover {
  opacity: 0.8;
}
.w3-half img {
  /* margin-bottom: -6px; */
  opacity:1;
  cursor: pointer;
  transition: opacity 0.5s;
}
.w3-half img:hover {
  opacity: 0.8;
}
.artistNameLink {
  display: none;
}
.logo {
  width: 100%;
  padding: 30px;
}
a {
  font-family: "Staatliches", cursive;
  font-size: 24px;
  color: #ff7bac;
  text-decoration:none;
}
h4, .w3-myFont {
  font-family: "Staatliches", cursive;
  font-size: 24px;
  color: white;
  text-decoration:none;
}
a h5 {
  font-family: "Staatliches", cursive;
  font-size: 28px;
  color:#0d3754;
  transition: opacity 0.5s;
}
a h5:hover {
  opacity:0.3;
}
h6, .w3-myFont2 {
  padding:1em;
  font-family: "Staatliches", cursive;
  font-size: 24px;
  color: white;
  text-decoration:none;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
}
 video {
   width: 100%;
   padding:0px;
   margin:0px;
 }
 sub {
   color:#ff7bac;
   opacity:1;
   transition: opacity 0.3s;
 }
 sub:hover {
   transition: opacity 0.5s;
   opacity:0.7;
 }
 .aboutSection {
   width: 60%;
 }
 .aboutSection img {
   width: 100%;
 }

 @media screen and (max-width: 800px)  {
   .aboutSection {
     width: 95%;
   }
 }
